html,body
{
    height: 100%; margin: 0; padding: 0;
}
body a
{
    outline:none;
    blr:expression(this.onFocus=this.blur());
}

#map
{
    height: 100%; width: 100%; position:absolute; top:0; bottom:0;
}
#map .ol-zoom .ol-zoom-out {
    margin-top: 202px;
}
#map .ol-zoomslider {
    background-color: transparent; top: 2.3em;
}

#map .ol-touch .ol-zoom .ol-zoom-out {
    margin-top: 212px;
}
#map .ol-touch .ol-zoomslider {
    top: 2.75em;
}

#mapOperationBar{
    position: absolute;
    top: 0.5em;
    left: 8px;
    background-color: rgba(0, 60, 136, .6);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    box-shadow: 2px 2px 4px #7d7c7d;
    text-align: center;
}

#mapOperationBar:hover{
    background: rgba(0, 60, 136, .7);
    color: #FFFFFF;
}

#mapOperationBar i {
    font-size: 55px;
    color: white;
    text-align: center;
    line-height: 60px;
}

#mousePosition {
    width: 125px;
    height: 33px;
    text-align: left;
    font-size: 14px;
    background: rgba(0, 60, 136, .3);
    border-radius: 4px;
    bottom: 35px;
    left: 8px;
    padding: 0 2px;
    position: absolute;
    border: 1px solid #eee;
    border-top: none;
    color: #eee;
    margin: 1px;
}
#layerGroupMenuBar {
    position: absolute;
    top: .5em;
    left: 35%;
}
.btnLayerChoose {
    border-radius: 4px;
    height: 25px;
    width: 100px;
    background: rgba(0, 60, 136, .5);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    margin: 1px;
    padding: 0;
    line-height: .4em;
    border: none;
    box-shadow: 2px 2px 4px #7d7c7d;

}
.btnLayerChooseAfterClick {
    border-radius: 4px;
    height: 25px;
    width: 100px;
    background: rgba(255, 255, 255, .7);
    color: rgba(0, 60, 136, .7);
    font-size: 14px;
    font-weight: 700;
    margin: 1px;
    padding: 0;
    line-height: .4em;
    border: none;
    box-shadow: 2px 2px 4px #7d7c7d;

}

.btnLayerChoose:hover {
    background: rgba(0, 60, 136, .7);
    color: #FFFFFF;
}

.bizMenuBar{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.btnBizMenu{
    box-shadow: 2px 2px 4px #7d7c7d;
    display: block;
    border-radius: 4px;
    position: relative;
    pointer-events: auto;
    margin: .5em .5em .5em auto;
    width: 30px;
}
.btnBizMenu:hover {
   width: 126px;
}

.btnBizMenu a {
    background: rgba(0, 60, 136, .5);
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    vertical-align: middle;
}

.btnBizMenu a:hover {
    background: rgba(0, 60, 136, .7);
    box-shadow: 0 1px 6px 3px rgba(0, 153, 255, 0.5);
    width: 126px;
}
.btnBizMenu a:hover span{
    display: inline;
}

.btnBizMenu span{
    display: none;
}
/*
.btnBizMenu i{
    color: white;
}*/

.menu-icon-red{
    color:red;
}

.savePictureBar{
    bottom: 2.5em ;
    right: 0.5em;
    text-align: right;
}

/*标点定位按钮使用的样式 Begin*/

/*地图操作面板样式 Begin*/
.mapOperationPanel{
    width: 380px;
    font-size: 10px;
}

.mapOperationPanel fieldset{
    border-radius: 4px;
    border-top: 2px dotted rgba(0, 60, 136, .5);
    border-left: 2px dotted rgba(0, 60, 136, .5);
    border-right: 0px;
    border-bottom: 0px;
}

.mapOperationPanel fieldset legend{
    border-radius: 4px;
    border: 0px;
    /*background-color: rgba(0, 60, 136, .5);*/
    border-left: 2px solid rgba(0, 60, 136, .5);
    border-right: 2px solid rgba(0, 60, 136, .5);
    color: rgba(0, 60, 136, .5);
    font-size: 14px;
    /*box-shadow: 2px 2px 4px #7d7c7d;*/
}

.mapOperationPanel fieldset a{
    color:#ffffff;
    background:rgba(0, 60, 136, .5);
    margin-right:5px;
    font-size:12px;
    text-decoration: none;
    display: inline-block;
    width:70px;
    height:20px;
    line-height:20px;
    text-align:center;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 2px 4px #7d7c7d;
}

.mapOperationPanel fieldset a:hover{
    background:rgba(0, 60, 136, .7);
}
/*地图操作面板样式 End*/

/*定义侧边栏菜单样式 Begin*/
#eastnav-left {
    position: fixed;
    top: 50%;
    margin-top: -210px;
    right: 0;
    width: 44px;
    height: auto;
    z-index: 500;
}
.left-title {
    width: 44px;
    height: 90px;
    box-sizing: border-box;
    padding: 4px;
}

.left-title-selected {
    box-sizing: border-box;
    background: #fefefe;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #7e9abd;
    border-right: none;
    box-shadow: -1px 1px 0px #b8b8b8;
}
.left-title-bg {
    display: block;
    width: 36px;
    height: 80px;
    border-radius: 3px;
    /*background: rgba(51, 102, 153, 0.7);*/
    background: rgba(0, 60, 136, .5);
    text-align: center;
    color: #fcfcfc;
    cursor: pointer;
    /*box-shadow: -1px 2px 3px #888;*/
    box-shadow: 2px 2px 4px #7d7c7d;
}

.left-title-bg:hover {
    background: rgba(0, 60, 136, .7);
}
.left-title-selected .left-title-bg {
    box-shadow: none;
}
.left-title-icon {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 36px;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 4px;
    border-bottom: 1px dotted #cccccc;
}
.left-title-word {
    display: inline-block;
    text-align: center;
    padding: 0px 5px ;
    font-size: 12px;
}
#eastnav-right {
    position: fixed;
    top: 50%;
    margin-top: -210px;
    right: -260px;
    width: 260px;
    height: 410px;
    background: #fefefe;
    box-sizing: border-box;
    border: 1px solid #7e9abd;
    /*box-shadow: -1px 1px 3px #888;*/
    box-shadow: 2px 2px 4px #7d7c7d;
}
.right-menu {
    display: none;
    padding: 20px;
}
#exit {
    display: none;
    margin: 8px 0px 0px 4px;
    width: 36px;
    height: 36px;
    line-height: 34px;
    text-align: center;
    border-radius: 3px;
    /*background: rgba(51, 102, 153, 0.7);*/
    background: rgba(0, 60, 136, .5);
    text-align: center;
    color: #fcfcfc;
   /* box-shadow: -1px 2px 4px #777;*/
    box-shadow: 2px 2px 4px #7d7c7d;
    cursor: pointer;
    font-size: 18px;
}
#exit:hover{
    background: rgba(0, 60, 136, .7);
}
/*定义侧边栏菜单样式 End*/

#dataLocateBar {
    position: absolute;
    top: .5em;
    left: 70%;
}
ul
{
    list-style:none;
    padding:0px;
    margin:0px
}

ul li
{
    display:inline;
    float:left;
}

ul li a
{
    color:#ffffff;
    background:#ff4400;
    margin-right:5px;
    font-weight:bold;
    font-size:14px;
    text-decoration:none;
    display:block;
    width:100px;
    height:25px;
    line-height:25px;
    text-align:center;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 2px 4px #7d7c7d;
}

ul li a i
{
    margin-left: 6px;
    color: #ff4400;
}

ul li a span
{
    margin-left: 6px;
}

ul li a:hover
{
    color:#ffffff;
    background:#c44210;
    font-weight:bold;
    text-decoration:none;
    display:block;
    width:100px;
    text-align:center;
    border-radius: 4px;
    border: none;
}

ul li.sublinks a
{
    color:#000000;
    background:#f6f6f6;
    border-bottom:1px solid #cccccc;
    font-weight:normal;
    text-decoration:none;
    display:block;
    width:160px;
    text-align:left;
    margin-top:4px;
}

ul li.sublinks a:hover
{
    color:#000000;
    background:#FFEFC6;
    font-weight:normal;
    text-decoration:none;
    display:block;
    width:160px;
    text-align:left;
}

ul li.sublinks
{
    display:none;
}

/*标点定位按钮使用的样式 End*/

/* 鼠标点击弹出圆形业务菜单 Begin*/
.radius {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #ff4400;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(0.5);
    transition: transform .2s ease-out;
    box-sizing: border-box;
    padding: 6px 3px 4px 7px;
    box-shadow: 0 1px 3px rgba(255, 255, 255, .6) inset;
}
.radius i {
    font-size: 18px;
    color: #ffffff;
}
.radius-scale {
    opacity: 1;
    transform: scale(1);
}
.radius:hover {
    cursor: pointer;
    transform: scale(1.2);
}
/* 鼠标点击弹出圆形业务菜单 End*/

.mouse_cursor{
    cursor: pointer;
}

.displayNone{
    display: none;
}